/*--------------------------------------------------------------
# Data Tables Specific Styles (MyGrow, Information Overload, MyTask)
--------------------------------------------------------------*/
table, th, td {
  border: 1px solid white;
  font-size: 16px;
  position: relative;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

th {
  font-weight: bold;
  text-align: left;
  color: #cccccc;
}

.table-responsive-sm {
  overflow: auto;
  width: auto;
  height: 70vh;
}

.table-responsive-sm thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

#table1 tr:hover:not(.header) {
  background-color: #04AA6D;
  color: #fff;
}

#taskTable tr:hover:not(.header) {
  background-color: #04AA6D;
  color: #fff;
}

#nutes {
  overflow: auto;
  width: auto;
  height: 100vh;
}

.icon-box li {
  list-style-type: none;
}

#hide-table {
  display: none;
}

.listPrint {
  text-align: left;
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  transition: ease-in-out 0.3s;
}

.listPrint:hover {
  color: #04AA6D;
}

/*--------------------------------------------------------------
# User input on table
--------------------------------------------------------------*/
input[type=text] {
  min-width: 10px;
  max-width: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  color: white;
}

/*--------------------------------------------------------------
# MyTask Save/Edit Button
--------------------------------------------------------------*/
.editbtn {
  display: none;
  background: transparent;
  border-radius: 4px;
  padding: 7px 7px 7px 7px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 20px;
  border: 2px solid #04AA6D;
  color: #FFFFFF;
  font-weight: bold;
}

.editbtn:hover {
  background: #04AA6D;
  color: #343a40;
}

@media (max-width: 992px) {
  .editbtn {
    padding: 5px 5px 5px 5px;
  }
}